_ReSharper.*/
*resharper.user
.idea/
[Bb]in/
[Oo]bj/
TestResults/
*.sln.cache
*.suo
*.sln.docstates
*.user
StyleCop.Cache
[Dd]ebug/
[Rr]elease/
*.un~
NEW_VERSION
*GhostDoc.xml

packages
build
temp
dist
.bundle
.sonar

# VS Code
.vs/

[Ww]eb.config
[Ww]eb.[Dd]ebug.config
[Ww]eb.[Rr]elease.config
[Aa]pp.config
